extends layout

block content
  .jumbotron(style="background: url(sky3.jpg)")
    .container
      h1 No remote!
      h2
        //img.pull-right(src="logo-rect.png")
        | The Mark Dos Equis Quadrotor is a remote-control less airial drone!
        | Advanced sensor clusters and a clever AI allow the MXX to fly by voice
        | and follow its owner around.


  .container
    .col-sm-4
      h2 lorem
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      button.btn.btn-default.btn-home click

    .col-sm-4
      h2 lorem
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      button.btn.btn-default.btn-home click

    .col-sm-4
      h2 lorem
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      button.btn.btn-default.btn-home click